<a href="https://colab.research.google.com/github/JessicaPelosi/PrimeirasFuncoes_Phyton/blob/main/Estrutura_Repeticao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print("Exemplo do while......")
#inicialização
contador = 1
#condição/critério de parada
while contador <= 10:
    print(contador, "Bem vindo a Fatec!")
    #incremento
    contador = contador + 1



print("\n\nExeplo do for......")
for contador in range (1,11):
    print(contador, "Bem vindo a Fatec!")

Exemplo do while......
1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!
10 Bem vindo a Fatec!


Exeplo do for......
1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!
10 Bem vindo a Fatec!

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
print("Exemplo do while.....")
#inicialização
contador = 0
#condição/critério de parada
while contador < 4:
    nome = input("Informe o nome: ")
    print("Olá", nome)
    #incremento
    contador = contador +1

Exemplo do while.....
Informe o nome: Jéssica
Olá Jéssica
Informe o nome: Julia
Olá Julia
Informe o nome: Juliana
Olá Juliana
Informe o nome: Patricia
Olá Patricia

In [ ]:
print("\n\nExeplo do for......")
for abobrinha in range (5):
    nome = input("Informe o nome: ")
    print("Olá", nome)

Exeplo do for......
Informe o nome: Jéssica
Olá Jéssica
Informe o nome: Juliana
Olá Juliana
Informe o nome: Julia
Olá Julia
Informe o nome: Patricia
Olá Patricia
Informe o nome: Edvaldo
Olá Edvaldo

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
for contador in range (0,16):
    print('Contador' ,contador)

Contador 0
Contador 1
Contador 2
Contador 3
Contador 4
Contador 5
Contador 6
Contador 7
Contador 8
Contador 9
Contador 10
Contador 11
Contador 12
Contador 13
Contador 14
Contador 15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
for contador in range (3,21):
    print('Contador' ,contador)

Contador 3
Contador 4
Contador 5
Contador 6
Contador 7
Contador 8
Contador 9
Contador 10
Contador 11
Contador 12
Contador 13
Contador 14
Contador 15
Contador 16
Contador 17
Contador 18
Contador 19
Contador 20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
for cont in range(1,11):
        print(5, "x", cont," = ",5 * cont)

5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
contador = 0
maiores = 0
for contador in range(10):
    idade = int(input("Insira a idade: "))
    if idade > 18:
        maiores = maiores + 1
print("A quantidade de pessoas maiores de idade são", maiores)

Insira a idade: 12
Insira a idade: 45
Insira a idade: 21
Insira a idade: 54
Insira a idade: 32
Insira a idade: 23
Insira a idade: 1
Insira a idade: 5
Insira a idade: 6
Insira a idade: 55
A quantidade de pessoas maiores de idade são 6

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
contador = 0
qtde_pares = 0
qtde_impares = 0
while contador < 4:
    n = int(input('Informe o número: '))
    if n % 2 == 0:
        qtde_pares = qtde_pares + 1
    else:
        qtde_impares = qtde_impares + 1 
         
    contador += 1 #incremento
print('Quantidade de números pares',qtde_pares)
print('Quantidade de números ímpares',qtde_impares)

Informe o número: 9
Informe o número: 2
Informe o número: 7
Informe o número: 6
Quantidade de números pares 2
Quantidade de números ímpares 2

In [ ]:
contador = 0
qtde_pares = 0
qtde_impares = 0
for contador in range(4):
    n = int(input('Informe o número: '))
    if n % 2 == 0:
        qtde_pares = qtde_pares + 1
    else:
        qtde_impares = qtde_impares + 1 

print('Quantidade de números pares',qtde_pares)
print('Quantidade de números ímpares',qtde_impares)

Informe o número: 5
Informe o número: 2
Informe o número: 5
Informe o número: 7
Quantidade de números pares 1
Quantidade de números ímpares 3

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for): 
## Salário até 300, reajuste de 50%; 

##Salários maiores que 300, reajuste de 30%.

In [ ]:
for salario in range(10):
    salario = float(input("Digite o salário: "))
    if salario <= 300:
        reajuste1 = salario + salario * (50 / 100)
        print("O salário reajustado é de", reajuste1)
    else:
        reajuste2 = salario + salario * (30 / 100)
        print("O salário reajustado é de", reajuste2,)

Digite o salário: 300
O salário reajustado é de 450.0
Digite o salário: 250
O salário reajustado é de 375.0
Digite o salário: 800
O salário reajustado é de 1040.0
Digite o salário: 4
O salário reajustado é de 6.0
Digite o salário: 900
O salário reajustado é de 1170.0
Digite o salário: 6415
O salário reajustado é de 8339.5
Digite o salário: 659
O salário reajustado é de 856.7
Digite o salário: 5489
O salário reajustado é de 7135.7
Digite o salário: 54
O salário reajustado é de 81.0
Digite o salário: 574
O salário reajustado é de 746.2


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
cont = 0
soma = 0
for cont in range(4):
    preco = float(input("Insira o preço: "))
    soma = soma + preco
    cont = cont + 1
print("A soma dos produtos é", soma)

Insira o preço: 5
Insira o preço: 5
Insira o preço: 5
Insira o preço: 5
A soma dos produtos é 20.0

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
alunos = 0
soma = 0
cont = 0
for alunos in range(5):
    idade = int(input("Insira a idade: "))
    soma = soma + idade
    cont = cont + 1
media = soma / cont
print("A média de idade dos alunos é", media)

Insira a idade: 4
Insira a idade: 9
Insira a idade: 1
Insira a idade: 2
Insira a idade: 5
A média de idade dos alunos é 4.2

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
cont = 0
soma = 0
for cont in range(4):
    preco = float(input("Insira o preço: "))
    soma = soma + preco
    cont = cont + 1
media = soma / cont
print("A média dos produtos é", media)

Insira o preço: 25.99
Insira o preço: 36.23
Insira o preço: 59.44
Insira o preço: 12.36
A média dos produtos é 33.504999999999995

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
cont = 0 #contador da estrutura de repetição 
cont20 = 0 #contador da pessoas com mais de 20 anos
soma_alturas = 0
while cont < 4:
    idade = int(input("Informe a idade: "))
    altura = float(input("Informe a altura: "))
    if idade > 20:
        soma_alturas = soma_alturas + altura
        cont20 = cont20 + 1
    cont = cont + 1 #incremento
media = soma_alturas / cont20
print("Valor do cont", cont)
print(f"Média de alturas {media:.2f} metros")

Informe a idade: 27
Informe a altura: 1.80
Informe a idade: 18
Informe a altura: 1.72
Informe a idade: 25
Informe a altura: 1.65
Informe a idade: 22
Informe a altura: 1.68
Valor do cont 4
Média de alturas 1.71 metros

In [ ]:
cont20 = 0 #contador da pessoas com mais de 20 anos
soma_alturas = 0
for cont in range(4):
    idade = int(input("Informe a idade: "))
    altura = float(input("Informe a altura: "))
    if idade > 20:
        soma_alturas = soma_alturas + altura
        cont20 = cont20 + 1
print("Valor do cont", cont)
media = soma_alturas / cont20
print(f"Média de alturas {media:.2f} metros")

Informe a idade: 27
Informe a altura: 1.8
Informe a idade: 18
Informe a altura: 1.72
Informe a idade: 25
Informe a altura: 1.65
Informe a idade: 22
Informe a altura: 1.68
Valor do cont 3
Média de alturas 1.71 metros

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
cont = 0
soma_preco = 0
for tv in range(0,4):
    preco = float(input("Insira o preço da TV: "))
    if preco > 1000:
        soma_preco = soma_preco + preco
        cont = cont + 1
media = soma_preco / cont
print(f"A média de preço das TVs é R${media:.2f}")

Insira o preço da TV: 1299.32
Insira o preço da TV: 456.36
Insira o preço da TV: 999.65
Insira o preço da TV: 6500.47
A média de preço das TVs é R$3899.89

###14. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
for tabuada in range(3,8):
    for cont in range(1,11):
        print(tabuada, "x", cont," = ",tabuada * cont)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40
5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50
6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60
7 x 1  =  7
7 x 2  =  14
7 x 3  =  21
7 x 4  =  28
7 x 5  =  35
7 x 6  =  42
7 x 7  =  49
7 x 8  =  56
7 x 9  =  63
7 x 10  =  70

In [ ]:
tabuada = 3
while tabuada <= 7:
    for cont in range(1,11):
        print(tabuada, "x", cont," = ",tabuada * cont)
    print()
    tabuada = tabuada + 1

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30

4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40

5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50

6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60

7 x 1  =  7
7 x 2  =  14
7 x 3  =  21
7 x 4  =  28
7 x 5  =  35
7 x 6  =  42
7 x 7  =  49
7 x 8  =  56
7 x 9  =  63
7 x 10  =  70

###15. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
soma_m = 0
soma_f = 0
soma_i = 0
total_soma = 0
total_media = 0

for modulo in range(1,7):
    masculino = 0
    feminino = 0
    ind = 0
    soma_idade = 0
    print(modulo,"módulo de ADS.")
    for alunos in range(2):
        genero = input("Insira o genero M/F: ")
        idade = int(input("Insira a idade: "))
        if genero == "M" or genero == "m":
            masculino = masculino + 1
            soma_m = soma_m + 1
                
        elif genero == "F" or genero == "f":
            feminino = feminino + 1
            soma_f = soma_f + 1

        else:
            ind = ind + 1
            soma_i = soma_i + 1
        soma_idade = soma_idade + idade
        media_idade = soma_idade / 2
        total_media = total_media + media_idade
        total_soma = total_soma + idade
media_total = total_media / 6
print("A média de idade do",modulo,f"módulo é de {media_idade:.2f}")
print("No módulo de ADS há", masculino,"homem(s),", feminino,"mulher(es) e", ind, "pessoa(s) com gênero indefinido.")
print("No curso de ADS tem um total de", soma_m,"homem(s)", soma_f,"mulher(es)", ind,"pessoa(s) com gênero indefinido.")
print(f"A média de idade do curso de ADS é de {media_total:.2f}")

1 módulo de ADS.
Insira o genero M/F: m
Insira a idade: 25
Insira o genero M/F: f
Insira a idade: 23
2 módulo de ADS.
Insira o genero M/F: f
Insira a idade: 36
Insira o genero M/F: f
Insira a idade: 17
3 módulo de ADS.
Insira o genero M/F: m
Insira a idade: 22
Insira o genero M/F: m
Insira a idade: 21
4 módulo de ADS.
Insira o genero M/F: f
Insira a idade: 18
Insira o genero M/F: f
Insira a idade: 19
5 módulo de ADS.
Insira o genero M/F: m
Insira a idade: 25
Insira o genero M/F: m
Insira a idade: 24
6 módulo de ADS.
Insira o genero M/F: m
Insira a idade: 28
Insira o genero M/F: f
Insira a idade: 29
A média de idade do módulo 6 é de 28.50
No módulo de ADS há 1 homem(s), 1 mulher(es) e 0 pessoa(s) com gênero indefinido.
No curso de ADS tem um total de 6 homem(s) 6 mulher(es) 0 pessoa(s) com gênero indefinido.
A média de idade do curso de ADS é de 36.75